p#DateTimeDisp{
    margin: 0;
    font-size: xx-large;
    color: #0000ff;
    -webkit-text-stroke: .5px black;
}

p#FirstBusDisp{
    margin: 0;
    font-size: xx-large;
    color: red;
}

div#dateDisp{
    display: flex;
}

div#FirstBus{
    font-size: x-large;
    color: #ff0000;
}
div#FirstBus2{
    color: #ff0000;
}
div#SoonBus2{
    font-size: x-small;
}

div#analog{
    width: 300px;
    height: 300px;
}

a.dispLink{
    color: inherit;
}